#awsmobilejs
awsmobilejs/.awsmobile/backend-build
awsmobilejs/.awsmobile/info/aws-info.json
awsmobilejs/.awsmobile/info/project-info.json
awsmobilejs/.awsmobile/info/aws-info.json.tmp
awsmobilejs/.awsmobile/info/project-info.json.tmp
awsmobilejs/\#current-backend-info
